CTR/Library/
CTR/Temp/
CTR/Assembly-CSharp-Editor-vs.csproj
CTR/Assembly-CSharp-Editor.csproj
CTR/Assembly-CSharp-Editor.pidb
CTR/Assembly-CSharp-firstpass-vs.csproj
CTR/Assembly-CSharp-firstpass.csproj
CTR/Assembly-CSharp-firstpass.pidb
CTR/Assembly-CSharp.pidb
CTR/Assembly-UnityScript-firstpass-vs.unityproj
CTR/Assembly-UnityScript-firstpass.pidb
CTR/Assembly-UnityScript-firstpass.unityproj
CTR/Assembly-UnityScript-vs.unityproj
CTR/Assembly-UnityScript.pidb
CTR/Assembly-UnityScript.unityproj
CTR/_ReSharper.CTR-csharp/
CTR/obj/
CTR/CTR-csharp.5.0.ReSharper.user
CTR/CTR-csharp.sln
CTR/CTR-csharp.suo
CTR/CTR.sln
CTR/CTR.userprefs
CTR/_ReSharper.CarTutorialProject-csharp/
